@model IEnumerable<MCMultiverse.Models.Application.MCServer>

<h2>Servers</h2>
<div class="container">
    <p>
        <a asp-controller="MCServers" asp-action="Create">Add Your Server</a>
    </p>
</div>
<ul>
    @foreach (var item in Model)
    {
        <li class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a asp-controller="MCServers" asp-action="Details" asp-route-id="@item.Id">
                        @if (item.BannerSmall != null)
                        {
                            @Html.DisplayFor(itemModel => item.BannerLarge)
                        }
                        else
                        {
                            <img src="http://via.placeholder.com/468x60" />
                        }
                    </a>
                </div>
            </div>
            <div>
                <div class="col-sm-3 col-xs-2">{Rank}</div>
                <div class="col-sm-3 col-xs-6">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="col-sm-3 col-xs-2">@Html.DisplayFor(modelItem => item.Activity)</div>
                <div class="col-sm-3 col-xs-2">{Players}</div>
            </div>
        </li>
    }
</ul>
