@model IEnumerable<MCMultiverse.Models.Application.MCServer>

@{
    ViewData["Title"] = "Index";
}

<vc:servers-recently-updated page="1"
                           count="20"
                           filter="updated">
</vc:servers-recently-updated>
<div>
    @await Component.InvokeAsync("ServersRecentlyUpdated", new { page = 1, count = 20, filter = "updated" });
</div>
